/*Fonts*/
/* @import url(''); */


:root {
	--color-text_btn: #FAFCFD;

	--background-gradient: rgba(0,53,86,1);
	--background-gradient: -moz-linear-gradient(-45deg, rgba(0,53,86,1) 0%, rgba(0,95,156,1) 100%);
	--background-gradient: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,53,86,1)), color-stop(100%, rgba(0,95,156,1)));
	--background-gradient: -webkit-linear-gradient(-45deg, rgba(0,53,86,1) 0%, rgba(0,95,156,1) 100%);
	--background-gradient: -o-linear-gradient(-45deg, rgba(0,53,86,1) 0%, rgba(0,95,156,1) 100%);
	--background-gradient: -ms-linear-gradient(-45deg, rgba(0,53,86,1) 0%, rgba(0,95,156,1) 100%);
	--background-gradient: linear-gradient(135deg, rgba(0,53,86,1) 0%, rgba(0,95,156,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003556', endColorstr='#005f9c', GradientType=1 );

	--gradient-btn: rgba(0,117,184,1);
	--gradient-btn: -moz-linear-gradient(-45deg, rgba(0,117,184,1) 0%, rgba(0,99,161,1) 100%);
	--gradient-btn: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,117,184,1)), color-stop(100%, rgba(0,99,161,1)));
	--gradient-btn: -webkit-linear-gradient(-45deg, rgba(0,117,184,1) 0%, rgba(0,99,161,1) 100%);
	--gradient-btn: -o-linear-gradient(-45deg, rgba(0,117,184,1) 0%, rgba(0,99,161,1) 100%);
	--gradient-btn: -ms-linear-gradient(-45deg, rgba(0,117,184,1) 0%, rgba(0,99,161,1) 100%);
	--gradient-btn: linear-gradient(135deg, rgba(0,117,184,1) 0%, rgba(0,99,161,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075b8', endColorstr='#0063a1', GradientType=1 );
  
	
}



*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth; 

	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button, a, li{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #262B3A;
}
.wrapper {
	position: relative;
	width: 100%;
	max-width: 1920px;
}
.container {
	max-width: 100%;
    width: 1371px;
	margin: 0 auto;
	padding: 0 1em;
}

/*HEADER*/

.header {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
	width: 100%;
    max-width: 100%;
	height: 80px;
    display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo {
	max-width: 100%;

}

.menu__list {
	display: flex;
	justify-content: space-around;
}
.menu__list li {
	list-style-type: none;
	margin-right: 2em;
}
.menu__list li:last-child {
	margin-right: 0;
}

.menu__link {
	position: relative;
	font-size: inherit;
	font-weight: 700;
	color: inherit;
}
.menu__link::after {
	content: '';
	width: 100%;
	height: 1.5px;
	background-color: #0062A0;
	position: absolute;
	left: 0;
	bottom: -5px;
	
	transform: scaleX(0);
	transform-origin: left;
	transition: transform .45s ease;
}
.menu__link:hover::after {
	transform: scaleX(1);
}
.menu__link:last-child {
	margin-right: 0;
}
.menu-burger {
	display: none;
}
.bar {
	display: block;
	width: 25px;
	height: 3px;
	border-radius: 20%;
	margin: 5px auto;
	transition: 0.3s;
	background-color: rgb(78, 76, 76);
}

.btn__header::before {
	display: none;
	content: "";
	background: url(../images/sign_in-icon.png);
	position: absolute;
	top: 25%;
	left: 15%;	
	width: 24px;
	height: 24px;
}
.btn__header:hover::before,
.btn__header:focus::before {
	display: block;
}
.btn__header {
	position: relative;
	width: 100%;
    max-width: 225px;
	height: 50px;
	display: flex;
    align-items: center;
    justify-content: center;
	color: var(--color-text_btn);
	background: var(--background-gradient);

	border-radius: 6px;
	font-size: inherit;
	font-weight: 700;
	transition: all 0.9s linear;
}

.btn__header:hover,
.btn__header:focus {
	color: #00609E;
	font-weight: 700;
	background:var(--color-text_btn);
	border: 2px solid #00609E;
	box-shadow: 5px 5px #00609E;
}

/*INTRO*/

.intro {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	padding-top: 75px;
}
.intro__img {
	max-width: 55%;
}
.select__act {
	position: relative;
}
.select__act-title {	
	font-size: 3em;
	line-height: 2em;
	font-weight: 700;
	margin-bottom: 64px;
	padding-right: 0.2em;
	text-transform: uppercase;
}

.arrow-btn {
	position: absolute;
	right: 50%;
    bottom: -20%;
    background: transparent;

	-moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
.arrow-img {
	width: 48px;
    height: 48px;
}

@keyframes bounce{
	0%,20%,50%,
    80%,100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Lessons */

.lessons {
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
}
.general__block {
	overflow: hidden;
	position: relative;
	width: 33%;
	height: auto;
	display: flex;
	flex-direction: column;
	color: #262B3A;
	margin: 0 1em;

	transition: transform 200ms;
}
.general__block:hover,
.event__img-wrapper:hover {
	transform: scale(1.07);
	z-index: 2;
	border-radius: 0.7em;

	-webkit-box-shadow: 3px 3px 31px -2px rgba(36, 45, 144, 0.74);
	-moz-box-shadow: 3px 3px 31px -2px rgba(36, 45, 144, 0.74);
	box-shadow: 3px 3px 31px -2px rgba(36, 45, 144, 0.74);
}

.general__about {
	position: relative;
	height: auto;
	padding: 0 0.8em;
}
.general__block-img {
	position: relative;
	overflow: hidden;
	margin-bottom: 47px;
	width: 444px;
	max-width: 100%;
	height: 240px;
	border-radius: 6px;
}
.general__img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.math__img {
	top: 70%;
    left: 60%;
}

.icon__on__img {
	position: absolute;
	right: 0;
    bottom: 0;
}
.general__title {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	margin-bottom: 24px;
	position: relative;
}
.general__title::before {
	content: 'zajęcia';
	position: absolute;
	top: -30px;
	left: 0;
	color: #0062A0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;

}
.general__text {
	margin-bottom: 24px;
}
.lesson-about__info {
	display: flex;
	flex-direction: column;
	gap: 0.8em;
	text-transform: uppercase;
	margin-bottom: 3em;
}
.lesson-about__info-row {
	display: flex;
}
.lesson-about__info-col {
	width: 50%;
	font-weight: 700;
	line-height: 18px;
	color: #0062A0;
}

.lesson-about__info-icon {
	width: 14px;
	height: 16px;
	max-width: 100%;
	margin-right: 10px;
}

.general__btns {
    display: flex;
    justify-content: flex-end;
	margin-bottom: 10px;
}
.general__btn {
	position: relative;
	width: 99px;
	height: 40px;
	border: 1px solid #00609E;
	border-radius: 6px;
	background: var(--gradient-btn);
	color:var(--color-text_btn);
	
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0 0.5em;
	transition: all 0.5s linear;
}

.general__btn:hover,
.general__btn:visited {
	color: #00609E;
	font-weight: 700;
	background:var(--color-text_btn);
	border: 2px solid #00609E;
	box-shadow: 5px 5px #00609E;
}

/* BLOCK EVENT */

.block__event {
    max-width: 100%;
    height: auto;
    display: flex;
    padding-top: 110px;
    margin-bottom: 60px;
}
.event__about {
	padding-top: 30px;
	width: 50%;
	margin-left: 8%;
}
.event__title::before {
	content: 'event miesiąca';
	color: #E6B100;
}
.event__img-wrapper {
	position: relative;
	width: 50%;
    max-width: 100%;
    height: 355px;
    overflow: hidden;
	border-radius: 10px;

	transition: transform 200ms;
}
.event__img {
}
.event__icon {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 73px;
	height: 72px;
	background-color:#E6B100;
}
.event__icon:before {
	content: '★';
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 60px;
	color: #fff;
	transform: translate3d(-50%, -50%, 0);
}

/* NEWS */

.news__info-container {
	width: 1371px;
	max-width: 100%;
	height: 309px;
	margin: 0 auto;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news__info {
	background: var(--background-gradient);
}
.news__title {
	width: 60%;
    max-width: 100%;
	max-height: 105px;
	font-size: 28px;
	line-height: 45px;
	color: var(--color-text_btn);
}

.news__info-btn {
	width: 220px;
	height: 60px;
	background-color: var(--color-text_btn);
	color: #0062A0;
	font-size: 16px;
	font-weight: 700;
	border-radius: 6px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.news__info-btn:hover {
	box-shadow: 
		0 0 20px #eee8fc,
		0 0 20px #002da0;
}

/* BENEFITS */

.block__benefits {
	display: flex;
	align-items: center;
	margin: 71px 0;
}

.animate-block {
	opacity: 0;
	transition: 1s linear;
	transform: translateX(-500px);
}
.benefits-show {
	opacity: 1;
	transform: translateX(0%);
}

.benefits__img {
	max-width: 100%;
	width: 50%;
	position: relative;
}
.img__left {
	left: -80px;
}
.img__right {
	right: -120px;
}

.benefits__about {
	position: relative;
	width: 40%;
	max-width: 700px;
}
.text__right {
}
.text__left {
	margin-left: 10%;
}

.benefits__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 32px;
}
.benefits__text {
	color: #6C7694;
	margin-bottom: 50px;
}
.benefits__btn-wrapper {
	display: flex;
	justify-content: flex-end;
}
.benefits__btn {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 181px;
    height: 40px;
    border-radius: 6px;
    color: var(--color-text_btn);
    background: var(--background-gradient);

	transition: all 0.9s linear;
}

.benefits__btn:hover,
.benefits__btn:focus {
	color: #00609E;
	font-weight: 700;
	background:var(--color-text_btn);
	border: 2px solid #00609E;
	box-shadow: 5px 5px #00609E;
}


/* BLOCK BLOG */

#blog {
	position: relative;
	width: calc(90% - 10rem);
}
.blog__title {
	margin-bottom: 90px;
    padding-top: 30px;
    margin-left: 10px;
}
.block__blog {
    width: 1360px;
	max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.blog__img {
	margin-bottom: 0;
	object-fit: cover;
}
.blog__item.blog__img:nth-child(2) {
	top: 80%;
    left: 60%;
}
.blog__icon {
	width: 185px;
	height: 38px;
	position: absolute;
	right: 0;
	bottom: 0;
	color: var(--color-text_btn);
	background: var(--gradient-btn);
	text-align: center;
	font-weight: 600;
	line-height: 18px;
	padding: 10px 0px;
}

.block__blog-wrapper {
	width: 2400px;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 140px;

	transition: margin-left 500ms;
}

.blog__item {
	width: 400px;
	height: fit-content;
	display: block;
	flex-shrink: 0;
}

.blog__item .descr__title::before {
	display: none;
}
.blog__item .block-descr__img {
	margin-bottom: 20px;
}
.blog__btn {
	width: 150px;
}


.blog-carousel__btn{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 10%;
	background: var(--gradient-btn);

	font-size: 30px;
	font-weight: 700;
	color: rgb(246, 235, 235, 0.9);
}

.blog-carousel__btn_prev {
	top: 40%;
	left: -2em;
}
.blog-carousel__btn_next {
	top: 40%;
	right: -2em;
}



/* FOOTER */

.footer {
	background: var(--background-gradient);
	height: auto;
}
.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8em 2em;
}


.footer-menu__list {
	color: var(--color-text_btn);
}
.footer .menu__link::after {
	background-color: #fff;
}



/* MEDIA */

@media (min-width: 992px) and (max-width: 1199px) {

/* HEADER */

	.header {
		height: 80px;
		font-size: 13px;
	}
	.menu__list li {
		margin-right: 1.5em;
	}
	.btn__header {
		max-width: 160px;
	}

/* INTRO */
	.select__act-title {
		font-size: 2.3em;
	}

/* LESSONS */

	.lessons {
		padding-top: 60px;
	}
	.general__block {
		margin: 0 0.5em;
	}
	.general__block-img {
		height: 200px;
		margin-bottom: 40px;
	}
	.general__img {
		top: 60%;
	}
	.math__img {
		top: 90%;
	}
	.general__title::before {
		font-size: 10px;
		line-height: 12px;
	}
	.general__title {
		font-size: 22px;
		line-height: 28px;
		margin-bottom: 18px;
	}
	.general__text {
		font-size: 12px;
	}
	.lesson-about__info {
		font-size: 11px;
		gap: 0.5em;
	}
	.lesson-about__info-col {
		font-weight: 600;
	}
	.lesson-about__info-icon {
		margin-right: 5px;
	}
	.general__btns {
		font-size: 12px;
	}
	.general__btn {
		width: 70px;
		height: 30px;
		margin: 0 0.2em;
	}
	.general__btn:hover,
	.general__btn:visited {
		font-weight: 600;
		box-shadow: 3px 3px #00609e;
	}

/* EVENT */
	.event__img-wrapper {
		height: 280px;
	}
	.event__img {
		top: 70%;
	}

/* NEWS */
	.news__title {
		width: 70%;
	}
	.news__info-container {
		height: 250px;
	}

/* BENEFITS */

	.benefits__text {
		margin-bottom: 30px;
	}
}

/* BLOG */

.blog__btn {
    width: 100px;
}
.block__blog-wrapper {
	margin-bottom: 90px;
}


/* Portrait tablets and small desktops */
@media   (max-width: 992px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background: var(--color-text_btn);
		height: 60px;
		width: 100%;
	}
	.menu__list {
		position: relative;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transition: .5s linear;
		left: -100%;

		color: #fff;
		background: var(--gradient-btn);
	} 
	.menu__list.active {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	.menu-burger {
		display: block;
		cursor: pointer;
		margin-right: 2em;
		z-index: 3;
	}
	.menu-burger.active .bar {
		background-color: #fff;
	}
	.menu-burger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.menu-burger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.menu-burger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
	.menu__list li {
		margin-right: 0;
		margin-bottom: 1.5em;
	}
	.menu__link {
		font-size: 20px;
	}
	.menu__link:hover {
		opacity: .6;
	}
	
/* INTRO */

	.intro {
		flex-direction: column;
		align-items: center;
		padding-top: 120px;
	}
	.intro__img {
		max-width: 95%;
	}
	.select__act-title {
		margin-bottom: 45px;
	}

/* LESSONS */

	.lessons {
		flex-direction: column;
		gap: 4em;
		margin-top: 8%;
		padding-top: 10%;
	}
	.block-lesson {
		width: 90%;
		margin: 0 auto;
	}
	.block-lesson__img {
		width: 100%;
		height: 350px;
	}
	.general__img {
		width: 120%;
	}
	.math__img {
		left: 50%;
		top: 65%;
	}
	.lesson-about__info {
		width: 70%;
	}

/* EVENT */

	.event__img-wrapper {
		width: 100%;
	}
	.block__event {
		flex-direction: column;
		width: 90%;
    	margin: 0 auto;
		margin-bottom: 5em;
	}
	.event__img {
		top: 55%;
	}
	.event__about {
		padding-top: 60px;
		width: 100%;
		margin-left: 0;
	}
	
/* NEWS */

	.news__info-container {
		height: 250px;
		flex-direction: column;
    	padding: 2em;
	}
	.news__title {
		width: 70%;
		font-size: 24px;
		text-align: center;
	}
	.news__info-btn {
		width: 180px;
		height: 50px;
	}

/* BENEFITS */

	.block__benefits {
		display: flex;
		align-items: start;
		flex-direction: column;
		margin-top: 0;
	}
	.benefits__img {
		width: 100%;
	}
	.benefits__about {
		width: 100%;
		padding-left: 2em;
		margin-bottom: 2em;
	}

	.blog__item.general__block-img {
		height: 200px;
	}

	.footer-menu.logo {
		margin-right: 2em;
	}
	.footer-menu__list {
		position: static;
		display: flex;
		flex-direction: row;
		justify-content: end;
		background: none;
		height: auto;
	}
	.footer-menu__list li {
		margin-bottom: 0;
	}
	.footer-menu__list .menu__link {
		font-size: 16px;
   		margin-right: 1em;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.btn__header {
		width: 160px;
		height: 40px;
		font-weight: 600;
		font-size: 12px;
	}
	.btn__header:hover, .btn__header:focus {
		font-weight: 600;
		font-size: 12px;
	}
	.btn__header::before {
		display: none;
	}
	.intro__img {
		max-width: 90%;
	}
	
	.select__act-title {
		font-size: 2.2em;
	}
	.lessons {
		gap: 3em;
	}
	.block-lesson {
		width: 100%;
	}
	.general__block:hover {
		transform: scale(1.01);
	}
	.general__block-img {
		height: 260px;
	}
	.lesson-about__info {
		width: 100%;
	}
	.block__event {
		width: 100%;
		padding-top: 70px;
	}
	.event__img-wrapper:hover {
		display: none;
	}
	
	.news__info-container {
		justify-content: center;
		padding: 2em;
	}
	.news__title {
		width: 100%;
		font-size: 22px;
		line-height: 1.5em;
		margin-bottom: 2em;
	}

	.animate-block {
		transition: 1s linear;
		transform: translateX(0);
	}
	.benefits__about {
		padding: 0 2em;
	}
	.block__benefits .text__left {
		margin-left: 0;
	}
	.blog__title {
		margin-bottom: 60px;
		padding-top: 70px;
	}
	.footer {
		height: auto;
	}
	.footer-menu {
		justify-content: space-around;
		padding: 2em 0px;
	}
	.footer-menu__list {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		width: auto;
	}
	.footer-menu__list li {
		margin-bottom: 0.3em;
	}
	.footer-menu__list .menu__link {
		font-size: 14px;
   		margin-right: 0;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.menu__burger {
		margin-right: 2em;
	}
	.menu {
		padding: 1em;
	}
	.btn__header {
		width: 160px;
		height: 35px;
		font-weight: 600;
		font-size: 10px;
	}
	.intro {
		padding-top: 100px;
	}
	.select__act-title {
		font-size: 1.8em;
	}
	.arrow-img {
		width: 80%;
		height: 80%;
	}
	.block-lesson{
		width: 100%;
	}
	.general__block-img {
		height: 200px;
	}
	.lessons {
		margin-top: 2%;
		gap: 2em;
	}
	.lesson-about__info {
		width: 120%;
		margin-bottom: 2em;
	}
	.block__event {
		width: 100%;
		padding-top: 80px;
	}
	.event__img-wrapper {
		height: 200px;
	}
	.event__img-wrapper:hover {
		display: none;
	}
	.event__icon:before {
		font-size: 40px;
	}
	.event__icon {
		width: 50px;
		height: 50px;
	}
	.news__info-container {
		justify-content: center;
		padding: 2em;
	}
	.news__title {
		font-size: 20px;
	}
	.animate-block {
		margin: 2em 0;
	}
	.benefits__about {
		margin-left: 0;
	}
	.benefits__text {
		margin-bottom: 2em;
	}
	.benefits__img.img__left {
		left: -20px;
	}
	.benefits__img.img__right {
		right: -20px;
	}
	.footer-menu.logo {
		max-width: 90%;
	}
}
